__pycache__/
.github/
.claude/
bev_v2x_transformer/BEVData_01/
bev_v2x_transformer/BEVImgLabel_01/
bev_v2x_transformer/BEVImgData_01/
bev_v2x_transformer/BEVLabel_01/
bev_v2x_transformer/BEVMaskData_01/
bev_v2x_transformer/BEVPredProb/
bev_v2x_transformer/merging/
bev_v2x_transformer/mergingBEVPredProb/
bev_v2x_transformer/mergingBEVPredProb_vision/
bev_v2x_transformer/db/
bev_v2x_transformer/roundabout/
bev_v2x_transformer/roundaboutBEVPredProb/
bev_v2x_transformer/roundaboutBEVPredProb_vision/
bev_v2x_transformer/BEVPredProb_vision/


scenario_vis/
scenarios/
saved_fig/
.idea
.vscode
__pycache__
venv
build/
/dist/
/EthicalTrajectoryPlanning.egg-info
/log/
console_log/
fig_for_diagram/
saved_fig/

*.mp4
*.png
*.gif
*.csv
*.jpg
*.log
*.pth
out/

planner/GlobalPath/results/

planner/Frenet/results*

planner/Frenet/planner/log/

planner/log/

planner/results/

planner/plannertools/Frenet/results

tmp*


EthicalTrajectoryPlanning/planner/Frenet/batch_logs



EthicalTrajectoryPlanning/planner/Frenet/results/
dataset_convert/INTERACTION-Dataset-DR-v1_1

EthicalTrajectoryPlanning/planner/Frenet/ZAM_Tutorial-1_2_T-1.xml
